# In alphabetical order
*.DS_Store
/.dist
/.env
/.idea
/.phpunit.result.cache
/.release/
/assets/public/js/multisafepay-blocks/build/*
/composer.lock
/coverage-report/*
/coverage.xml
/node_modules
/package-lock.json
/phpunit.xml
/vendor
