#payment .payment_methods li p {
    margin: 0 0 1.41575em !important;
}
#payment .payment_methods li img {
    float: right;
    border: 0;
    padding: 0;
    max-height: 1.618em;
}
#payment .payment_methods .wc_payment_method .multisafepay-payment-component .loader-wrapper {
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(248, 248, 248, 0.93);
    position: absolute;
    z-index: 300;
}
#payment .payment_methods .wc_payment_method .multisafepay-payment-component .loader-wrapper .loader {
    margin: 0;
    display: block;
    position: absolute;
    left: 45%;
    top: 40%;
    border: 25px solid rgba(100, 100, 100, 0.2);
    width: 1px;
    height: 1px;
    border-left-color: transparent;
    border-right-color: transparent;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-animation: msp-spin 1.5s infinite;
    -moz-animation: msp-spin 1.5s infinite;
    animation: msp-spin 1.5s infinite;
}
.apple-pay-button {
    display: inline-block;
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-type: plain;
    width: 100%;
    min-width: 160px;
    height: 65px;
    min-height: 40px;
    border-radius: 0;
}
.apple-pay-button-black {
    -apple-pay-button-style: black;
}
.gpay-button.short, .gpay-button.plain {
    min-width: 160px !important;
    min-height: 40px !important;
    border-radius: 0 !important;
    background-size: 84px 33px !important;
}
