#multisafepay-settings table.form-table th label {
    position: relative;
    display: block;
}

#multisafepay-settings table.form-table input[type=date],
#multisafepay-settings table.form-table input[type=datetime-local],
#multisafepay-settings table.form-table input[type=datetime],
#multisafepay-settings table.form-table input[type=email],
#multisafepay-settings table.form-table input[type=number],
#multisafepay-settings table.form-table input[type=password],
#multisafepay-settings table.form-table input[type=tel],
#multisafepay-settings table.form-table input[type=text],
#multisafepay-settings table.form-table input[type=time],
#multisafepay-settings table.form-table input[type=url],
#multisafepay-settings table.form-table input[type=week],
#multisafepay-settings table.form-table textarea,
#multisafepay-settings table.form-table select {
    width: 400px;
    margin: 0;
    padding: 0 8px;
    box-sizing: border-box;
    vertical-align: top;
}


