#multisafepay-settings table.form-table th label {
    position: relative;
    display: block;
}
#multisafepay-settings table.form-table input[type=date],
#multisafepay-settings table.form-table input[type=datetime-local],
#multisafepay-settings table.form-table input[type=datetime],
#multisafepay-settings table.form-table input[type=email],
#multisafepay-settings table.form-table input[type=number],
#multisafepay-settings table.form-table input[type=password],
#multisafepay-settings table.form-table input[type=tel],
#multisafepay-settings table.form-table input[type=text],
#multisafepay-settings table.form-table input[type=time],
#multisafepay-settings table.form-table input[type=url],
#multisafepay-settings table.form-table input[type=week],
#multisafepay-settings table.form-table textarea,
#multisafepay-settings table.form-table select {
    width: 400px;
    margin: 0;
    padding: 0 8px;
    box-sizing: border-box;
    vertical-align: top;
}
#multisafepay-support td.version-table-row {
    padding: 5px 10px 5px 0;
}
#multisafepay-support h2 {
    font-size: 19px;
    font-weight: bold;
    margin-top: 35px;
}
#multisafepay-support .docs-list {
    padding-left: 10px;
    margin-left: 10px;
}
#multisafepay-support .docs-list li {
    list-style-type: circle;
}
#multisafepay-support .support-list {
    padding-left: 10px;
    margin-left: 10px;
}
#multisafepay-support .support-list li {
    list-style-type: circle;
}
#multisafepay-support .account-list {
    padding-left: 10px;
    margin-left: 10px;
}
#multisafepay-support .account-list li {
    list-style-type: circle;
}
#multisafepay-support .multisafepay-sales-contact-list {
    padding-left: 10px;
    padding-top: 10px;
}
#multisafepay-support .multisafepay-sales-contact-list li strong {
    display: block;
    padding-bottom: 5px;
}
#multisafepay-support .multisafepay-sales-contact-list li:first-child {
    padding-top: 8px;
}
#multisafepay-support .multisafepay-sales-contact-list li {
    padding-top: 22px;
    list-style-type: none;
}
#multisafepay-support .multisafepay-sales-contact-list li ul {
    padding-left: 25px;

}
#multisafepay-support .multisafepay-sales-contact-list li ul li {
    padding-top: 0;
    list-style-type: square;
}
#multisafepay-support .multisafepay-sales-contact-list li ul li:first-child {
    padding-top: 0;
}
#multisafepay-system-status .multisafepay_status_table {
    margin-bottom: 1em;
    background: #fff;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    width: 100%;
}
#multisafepay-system-status .multisafepay_status_table th {
    padding: 9px;
}
#multisafepay-system-status .multisafepay_status_table th h2 {
    font-size: 15px;
    margin: 0;
    text-align: left;
}
#multisafepay-system-status .multisafepay_status_table tr:nth-child(2n) {
    background: #fcfcfc;
}
#multisafepay-system-status .multisafepay_status_table th, #multisafepay-system-status .multisafepay_status_table td {
    font-size: 1.1em;
    font-weight: 400;
    padding: 9px;
}
#multisafepay-system-status .multisafepay_status_table td:first-child {
    width: 33%;
}
#multisafepay-system-status .multisafepay_status_table td h4 {
    margin: 0;
}

#multisafepay-system-status .system-status-section {
    margin: 5px 0 15px;
    border-left-color: #008dcb !important;
    background: #FFF;
    border: 1px solid #c3c4c7;
    border-left-width: 4px;
    padding: 1px 12px;
}

#multisafepay-system-status #multisafepay-system-report {
    display: none;
}

#multisafepay-system-status #multisafepay-system-report textarea {
    font-family: monospace;
    width: 100%;
    margin: 0;
    height: 300px;
    padding: 20px;
    border-radius: 0;
    resize: none;
    font-size: 12px;
    line-height: 20px;
    outline: 0;
    background: #f0f0f1;
}
